h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 260101050-01. Caracterizar la mezcla de productos según segmento de mercado.           