.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Kotler, P; Amstrong, G. (2017). Marketing.	                    
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4426&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Prettel, (2016). Marketing, una herramienta para el crecimiento.	                    
                    td Libro 
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=5684&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     

                tr
                    td Prieto, E. (2013). Investigación de mercados.	                    
                    td Libro
                    td 
                        a(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=4870549&ppg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Kerin, R; Harley, S. (2018). Marketing.	                 
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=6261&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Martínez, A; Ruiz, C. (2014). Marketing en la actividad comercial.	
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=5352&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Hernández, C. (2017). Fundamentos de marketing.	
                    td Libro 
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4404&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar        

                tr
                    td Hoyos, R. (2016). Branding, el arte de marcar corazones.	
                    td Libro 
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=2769&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   

                tr
                    td Lovelock, C. (2015) Marketing de servicios. Personal, tecnología y estrategia. 	
                    td Libro		
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3701&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td Vélez, T. (2014) Logística empresarial.	
                    td Libro	
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=5569&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 